@page
@model wireless_changing_system.Pages.Wireless_charging.Payment.AccountBalanceModel
@{
     <div class="container mt-5">
        <div class="row justify-content-center">
            <h3 >Số dư tài khoản</h3>
            <div class=" p-3 d-flex">
                
                    <div class="col-4  p-3">
                        <div >
                        <img src="/img/avartar.jpg" class="img-fluid w-50 rounded-circle" />
                    </div>
                    </div>
                    <div class="col-8 fs-5 p-3">
                        <div>Nguyen Van A
                        </div>
                        <div>Số dư tài khoản: 2.000.000 VNĐ</div>
                    </div>
                
            </div>
            <div class="container mt-4">
                <div class="d-flex flex-wrap gap-3 justify-content-center">
                    <div class="card bg-light shadow-sm p-3 text-center" style="width: 200px; height: 100px;">
                        <p class="mb-0">Nạp tiền</p>
                        <p><i class="bi bi-wallet"></i></p>
                    </div>
                    
                    <div class="card bg-light shadow-sm p-3 text-center" style="width: 200px; height: 100px;">
                        <p class="mb-0">Lịch sử giao dịch</p>
                        <p><i class="bi bi-bar-chart"></i></p>
                    </div>
                </div>
            </div>


        </div>
     </div>
}
